/* Tarjetas con hover */
.hover-shadow:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
   border: 5px solid black;  
}

.card img {
  border-radius: 0.5rem 0.5rem 0 0;
  height: 250px;
  object-fit: cover;
}

.card-title {
  margin-bottom: 0.25rem;
}

.card-text {
  font-size: 0.9rem;
}

i {
  font-size: 1.2rem;
}

i:hover {
  color: #0d6efd; /* Azul bootstrap al pasar el mouse */
}
h1 {
  color: gold !important
}
h2{
  color: gold;
}