footer a:hover {
  text-decoration: underline;
  color: #f8f9fa; /* Ligero cambio de color al pasar el mouse */
}

footer h5 {
  font-weight: bold;
}
footer{
  margin-top: 0px;
  padding-top: 0px;
}
.container {
margin-top: 0px;
padding: 0px
}