.contacto i {
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.contacto i:hover {
  transform: scale(1.15);
  color: #0d6efd; /* Azul Bootstrap */
}

.bbh-sans-hegarty-regular {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}
