.faq .accordion-button {
  font-weight: 600;
}

.faq .accordion-button:not(.collapsed) {
  background-color: #0d6efd;
  color: white;
}

.faq .accordion-button:focus {
  box-shadow: none;
  border-color: #0d6efd;
}
